nav {
    font-size: large;
    color: #7d0017;
}

nav h1 {
    margin-bottom: 0;
}

nav h1 strong {
    color: #5e0016;
}

nav ul {
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(250, 192, 84);
    float: right;
    padding-top: 10px;
    height: 30px;
    text-align: right;
    margin-bottom: 0;
}

nav ul li {
    display: inline;
    padding-left: 20px;
    padding-right: 15px;
}

nav ul li a:link {
    text-decoration: none;
    color: #7d0017;
}

nav ul li a:hover {
    color: white;
}

body {
    margin-right: auto;
    margin-left: auto;
}

.form-container {
    margin: 0 5%;
    display: flex;
}

.form-container p {
    width: 50%;
}

.form-container form {
    color: white;
    background-color: teal;
    display: block;
    padding-left: 10px;
    width: 50%;
}

.form-container form div label {
    padding-top: 100px;
}

.invalid {
    background-color: orange !important;
}

.form-container input[type=text], select {

    width: 100%;
    height: 30px;
    padding: 12px 10px;
    margin: 8px 5px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form div {
    justify-content: center;
    margin-right: 2% !important;
}

.form-container form div div {
    margin: auto;
    min-width: 100%;
}

.form-container input[type=color] {
    margin-bottom: 2%;
    width: 100%;
}

.form-container div {
    padding-top: 10px;
    align-content: center;
}

.form-container div button {
    background-color: gray; /* Green */
    border: none;
    color: white;
    margin: 30px 0 30px;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.form-container div button:hover {
    color: red;
}

.form-container form div button[type=reset] {
    text-align: right;
    float: right;
}

body img {
    width: 100%;
}

body div ul li {
    display: inline-block;
    padding-left: 10px;
}

body div ul li div {
    width: 400px;
    background-color: aquamarine;
}

body div ul li div h3 {
    padding-left: 10px;
    text-align: left;
    color: blue;
}

body div ul li div div {
    text-align: center;
    background-color: aqua;
}

body div ul li div img {
    width: inherit;
    height: inherit;
}

footer {
    padding: 10px 10px 10px 10px;
    color: blue;
    background-color: aquamarine;
}

footer strong {
    color: black;
}

input:focus {
    background-color: yellow;
    color: black;
}
